<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697229379455-me8h5do26old2dmk85v2jc7lc19grafk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697229379455-me8h5do26old2dmk85v2jc7lc19grafk</string>
	<key>API_KEY</key>
	<string>AIzaSyDgsRLELev3Rx2h3_enL33dznVgHKsg1rA</string>
	<key>GCM_SENDER_ID</key>
	<string>697229379455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>A01400672.flight-tracker</string>
	<key>PROJECT_ID</key>
	<string>flight-tracker-85c23</string>
	<key>STORAGE_BUCKET</key>
	<string>flight-tracker-85c23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697229379455:ios:fb76349889afa7cb1ffc4a</string>
</dict>
</plist>